<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
    <container>
      <register type="MyApplication.ILogger, MyApplication" mapTo="Loggers.ConsoleLogger, Loggers"></register>
      <register type="MyApplication.ISpamFilter, MyApplication" mapTo="SpamFilters.MySpamFilter, SpamFilters"></register>
    </container>
  </unity>
</configuration>